:root {
  --color-white: #fff;
  --color-primary: #ffa500;
  --color-dark: #000;
}

.navbar.fcnavbar {
  padding-top: 0;
  padding-bottom: 0;
}
.fcnavbar.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fcnavbar.navbar-nav .nav-link {
  color: var(--color-white);
  height: 56px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.fcnavbar .navbar-nav .nav-link:focus,
.fcnavbar.navbar-nav .nav-link:hover,
.fcnavbar .navbar-nav .active > .nav-link,
.fcnavbar .navbar-nav .nav-link.active,
.fcnavbar .navbar-nav .nav-link.show,
.fcnavbar.navbar-nav .show > .nav-link {
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}

/*----------------css for slider section css home pages ---------------*/

.mainslider .carousel-inner,
.mainslider .carousel-item,
.mainslider .carousel-item > img {
  height: 400px;
}

.mainslider .carousel-item > img {
  object-fit: cover;
}

.mainslider .carousel-caption {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  color: var(--color-dark);
  font-weight: bold;
  font-size: 22px;
}

/*<<<<<<<<<<<<<<<<<<<<css for homeparallax css starts from here >>>>>>>>>>>>>>>>>>>>>
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/lights.jpg);*/

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.homeparallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/lights.jpg);
}

.homeparallax::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

/*<<<<<<<<<<<<<<<<<<<<css for video section css starts from here >>>>>>>>>>>>>>>>>>>>*/

.video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/media.jpg);
}

.homeGallary img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.footer {
  background-color: var(--color-dark);
}

@media all and (min-width: 992px) {
  .fcnavbar .nav-item {
    margin-left: 5px;
  }
}
